---
import GitHub from "./icons/GitHub.astro"
import Tailwind from "./icons/Tailwind.astro"
import python from "./icons/python.astro"
import React from "./icons/React.astro"
import TypeScript from "./icons/Typescript.astro"
import fastapi from "./icons/Fastapi.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Html from "./icons/html.astro"
import Css from "./icons/css.astro"
import JavaScript from "./icons/javascript.astro"
import Spring from "./icons/spring.astro"
import Java from "./icons/java.astro"


const TAGS_docsflow = {
  NEXT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  PYTHON: {
    name: "Python",
    class: "bg-black text-white",
    icon: python, 
  }
}
const TAGS_gestor = {
  NEXT: {
    name: "python",
    class: "bg-black text-white",
    icon: python,
  },
  TAILWIND: {
    name: "fastAPI",
    class: "bg-[#003159] text-white",
    icon: fastapi,
  },
}
const TAGS_tienda = {
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: Css,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  }
}
const TAGS_backend = {
  JAVA: {
    name: "Java",
    class: "bg-[#007396] text-white",
    icon: Java,
  },
  SPRING: {
    name: "Spring Boot",
    class: "bg-[#6DB33F] text-white",
    icon: Spring,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: Css,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
}
const PROJECTS = [
  {
    title: "Gestor de Reservas de Salas de Coworking",
    description:
      "Construir una API REST con Python que permita el registro e inicio de sesión de usuarios con autenticación, la creación y administración de salas de coworking, sistema de reservas con validaciones de horarios y la generación de reportes simples.",
    github: "https://github.com/victormoreno-2007/gestorReservas.git",
    image: "/projects/svgl.webp",
    tags: [TAGS_gestor.NEXT, TAGS_gestor.TAILWIND],
  },
  {
    title: "Tienda online",
    description:
      "Crear una aplicación web que consuma datos desde la API pública https://fakestoreapi.com/products, los represente dinámicamente en el DOM, y permita a los usuarios interactuar con dichos productos a través de un sistema de carrito de compras con persistencia de datos en localStorage",
    link: "https://project-javascript-3yyh5oqpj-victor-morenos-projects-91b4041e.vercel.app/",
    github: "https://github.com/victormoreno-2007/ProjectJavascript.git",
    image: "/projects/javascript.png",
    tags: [TAGS_tienda.HTML, TAGS_tienda.CSS, TAGS_tienda.JAVASCRIPT],
  },
  {
    title: "CrediYa - Sistema de Gestión de Préstamos y Pagos",
    description:
      "Aplicación desarrollada en Java para la administración integral de créditos. Implementa una arquitectura basada en capas (Dominio, Datos, Servicio y Vista) con conexión a bases de datos relacionales mediante JDBC. Permite gestionar clientes, empleados, calcular cuotas de préstamos y procesar pagos con validación de reglas de negocio.",
    github: "https://github.com/victormoreno-2007/crediya", 
    image: "/projects/crediya.png",
    tags: [TAGS_backend.JAVA], 
  },
  {
    title: "Construrrenta - Plataforma Full Stack de Renta de Equipos",
    description: "Sistema integral de alquiler con control de roles (Administrador, Proveedor, Cliente). Backend desarrollado con Java y Spring Boot aplicando Arquitectura Hexagonal y seguridad basada en tokens JWT. Frontend construido con React y TypeScript, implementando gestión de estado global, carritos de reserva y paneles administrativos interactivos.",
    github: "https://github.com/victormoreno-2007/proyecto-spring-boot",
    image: "/projects/springBoot.png",
    tags: [TAGS_backend.JAVA, TAGS_backend.SPRING, TAGS_backend.REACT, TAGS_backend.CSS, TAGS_backend.TypeScript],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



